.Col1{
    background-image: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);
    height: 100vh;
    padding: 2%;
   margin-top: 2%;

 
    
}
.Col2{
    background-image: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);
}
ul li{
    padding: 10%;
}



.menu{
   
    display: flex;
    flex-wrap: wrap;

}
.home3{
    margin-top: 10%;
    margin-left: 11%;

}
.lol2{
    display: flex;
    flex-wrap: wrap;
}
.dell{
   
   
    background-color: aliceblue;
    border-radius: 25%;
    height: 250px;
 
    width: 330px;
    margin-top: 3%;
    margin-left: 1%;
    text-align: center;
    padding: 5%;
    
}
.dell1{
    display: flex;
}
h1{
    background-color: antiquewhite;
    width: 300px;
    text-align: center;
    border-radius: 25%;
}
.mall{
   
   
    background-color: aliceblue;
    border-radius: 25%;
    height: 150px;
 
    width: 330px;
    margin-top: 3%;
    margin-left: 1%;
    text-align: center;
    padding: 5%;
    
}


  
p{
    background-color: aliceblue;
    width: 400px;
    font-size: large;
    margin-top: 3%;
}
.mall1{
    display: flex;
}
.pall{
    margin-left: 17%;
}
.fall{
    margin-left: 13%;
}
.tall{
    margin-top: 3%;
}